In [1]:
import pandas as pd
import numpy as np

In [41]:
data1 = pd.read_csv('out.csv').set_index('Unnamed: 0')
data1

,url,description,gpt3_description
Unnamed: 0,,,
0,https://www.reuters.com/article/us-tesla-crash...,The National Transportation Safety Board said ...,The National Transportation Safety Board (NTSB...
1,https://www.irishtimes.com/business/economy/un...,Latest monthly figures reflect continued growt...,Latest monthly figures from the Central Statis...
2,https://www.irishtimes.com/\t\t\t\t\t\t\t/life...,Autumn-winter collection features designer’s g...,The Autumn-winter 2019 collection by Louise Ke...
3,https://www.aljazeera.com/news/2019/09/north-k...,Han is the first North Korean player in the Se...,Han is a North Korean footballer who has recen...
4,https://www.bbc.co.uk/news/av/uk-scotland-4956...,"The UK government's lawyer, David Johnston arg...",The UK government's lawyer has said that proro...
...,...,...,...
2604,https://www.reuters.com/video/2019/09/07/biden...,Gaffe-prone former Vice President Joe Biden sl...,Gaffe-prone former Vice President Joe Biden go...
2605,https://www.newsweek.com/college-football-2019...,The defending champions look to extend their w...,The defending national champions Clemson will ...
2606,https://www.bbc.co.uk/sport/england/49622063,Manchester United midfielder Jesse Lingard has...,"Manchester United have been fined £20,000 by t..."
2607,https://www.aljazeera.com/news/2019/09/hong-ko...,Security increased ahead of protests aiming to...,Security increased at the Hong Kong airport af...
2608,https://www.irishtimes.com/sport/rugby/interna...,When it comes to the showpiece of the world ga...,"When it comes to the World Cup, Johnny Sexton ..."

In [36]:
data2 = pd.read_csv('out(1).csv').set_index('Unnamed: 0')
data2

,url,description,gpt3_description
Unnamed: 0,,,
5218,https://www.cbsnews.com/video/texas-sees-surge...,Texas is seeing a surge of Democratic women ru...,Texas is seeing a surge in the number of women...
5219,https://www.irishtimes.com/news/crime-and-law/...,"Judge’s payment order ‘irrational’, claims chi...",Judge’s payment: The High Court has ruled that...
5220,http://www.bbc.co.uk/news/world-europe-49678033,The sister of Saudi Crown Prince Mohammed bin ...,The sister of a man who was stabbed to death i...
5221,https://www.newsweek.com/office-stars-jenna-fi...,If you can't get enough of watching 'The Offic...,"If you loved The Office, you'll love this new ..."
5222,https://www.irishtimes.com/business/economy/ec...,The European Central Bank has cut interest rat...,The European Central Bank has cut its key inte...
...,...,...,...
7822,https://www.irishtimes.com/news/crime-and-law/...,Gardaí discover drugs during search of house i...,"Gardaí discover €107,000 worth of cannabis in ..."
7823,https://www.cbsnews.com/video/48-hours-the-cas...,An Ohio cheerleader charged with murder was ac...,An Ohio cheerleader is accused of murdering he...
7824,https://www.bbc.co.uk/programmes/p07phy97,Pavlo Klimkin contradicts Donald Trump's claim...,Pavlo Klimkin is the Ukrainian Foreign Ministe...
7825,https://www.cbsnews.com/video/samuel-l-jackson...,Amazon Alexa users will soon be able to hear S...,Amazon Alexa is getting a new voice. Samuel L....
7826,https://abcnews.go.com/US/wireStory/hope-comin...,"Get breaking national and world news, broadcas...",Get breaking news alerts and special reports. ...

In [38]:
articles = pd.read_csv('articles_data.csv')
articles = articles[['url','description']][7827:]

data3 = pd.read_csv('gpt_3_stuff.csv')
data3['Unnamed: 0'] = np.arange(7827,10437)
data3 = data3.rename(columns={"0": "gpt3_description"})
data3 = data3.set_index('Unnamed: 0').join(articles)
data3 = data3.reindex(columns = [ 'url', 'description', 'gpt3_description'])
data3

,url,description,gpt3_description
Unnamed: 0,,,
7827,https://www.businessinsider.com/everlane-recas...,Everlane Everlane has always centered itself a...,Everlane is a clothing company that is committ...
7828,https://abcnews.go.com/Entertainment/wireStory...,Music Review: Beth Hart reveals her innermost ...,"Music Review:\n\nBeth Hart's new song ""Vent"" i..."
7829,https://www.cnn.com/travel/article/yellowstone...,"Sarah Davis, a 20-year National Park Service v...",Sarah Davis is the first female chief ranger o...
7830,https://www.aljazeera.com/news/2019/09/dozen-d...,At least 21 people killed as torrential rains ...,At least a dozen people have died and several ...
7831,https://www.newsweek.com/rashida-tlaib-impeach...,Rashida Tlaib Launches 'Impeach the MF' T-Shir...,Rashida Tlaib is a member of the House of Repr...
...,...,...,...
10432,https://abcnews.go.com/Business/wireStory/drop...,"Get breaking national and world news, broadcas...",Get breaking news on the drop in U.S. service ...
10433,https://www.reuters.com/article/us-credit-suis...,The announcement by Julius Baer this week that...,The announcement that Credit Suisse Group AG h...
10434,https://www.cnn.com/2019/10/03/us/five-year-ol...,Weston Newswanger is just a normal 5-year-old ...,Weston Newswanger is a five-year-old boy from ...
10435,https://www.cbsnews.com/video/fateful-connecti...,A detective is haunted by the case of two wome...,A detective in Florida was investigating a cas...
10436,https://www.cbsnews.com/video/love-hate-obsess...,Who wanted one-time millionaire Lanny Horwitz ...,Who wanted to be a writer? It was the only thi...

In [39]:
data2.append(data3)

,url,description,gpt3_description
Unnamed: 0,,,
5218,https://www.cbsnews.com/video/texas-sees-surge...,Texas is seeing a surge of Democratic women ru...,Texas is seeing a surge in the number of women...
5219,https://www.irishtimes.com/news/crime-and-law/...,"Judge’s payment order ‘irrational’, claims chi...",Judge’s payment: The High Court has ruled that...
5220,http://www.bbc.co.uk/news/world-europe-49678033,The sister of Saudi Crown Prince Mohammed bin ...,The sister of a man who was stabbed to death i...
5221,https://www.newsweek.com/office-stars-jenna-fi...,If you can't get enough of watching 'The Offic...,"If you loved The Office, you'll love this new ..."
5222,https://www.irishtimes.com/business/economy/ec...,The European Central Bank has cut interest rat...,The European Central Bank has cut its key inte...
...,...,...,...
10432,https://abcnews.go.com/Business/wireStory/drop...,"Get breaking national and world news, broadcas...",Get breaking news on the drop in U.S. service ...
10433,https://www.reuters.com/article/us-credit-suis...,The announcement by Julius Baer this week that...,The announcement that Credit Suisse Group AG h...
10434,https://www.cnn.com/2019/10/03/us/five-year-ol...,Weston Newswanger is just a normal 5-year-old ...,Weston Newswanger is a five-year-old boy from ...
10435,https://www.cbsnews.com/video/fateful-connecti...,A detective is haunted by the case of two wome...,A detective in Florida was investigating a cas...
10436,https://www.cbsnews.com/video/love-hate-obsess...,Who wanted one-time millionaire Lanny Horwitz ...,Who wanted to be a writer? It was the only thi...

In [44]:
data4 = pd.read_csv('out(2).csv').set_index('Unnamed: 0')
data4

,url,description,gpt3_description
Unnamed: 0,,,
2609,https://abcnews.go.com/International/wireStory...,Pakistan is hosting the third round of trilate...,Pakistan is hosting a three-way meeting with A...
2610,https://www.irishtimes.com/life-and-style/home...,"Despite seismic demographic changes, Ringsend ...",Despite seismic changes in the area over the p...
2611,https://abcnews.go.com/International/wireStory...,"Get breaking national and world news, broadcas...",Get breaking news alerts and special reports. ...
2612,https://abcnews.go.com/Entertainment/wireStory...,Michael B. Jordan and Jamie Foxx's true-life t...,"Michael B. Jordan stars in the new film ""Mercy..."
2613,https://edition.cnn.com/2019/09/07/uk/uk-james...,"50-year-old Peter Hartley, who worked in maint...",50-year-old Peter was caught spying on the set...
...,...,...,...
5213,https://www.newsweek.com/alexandria-ocasio-cor...,"""We're fighting for a better country that we c...","""We're fighting"" Alexandria Ocasio-Cortez said..."
5214,https://www.businessinsider.com/bigelow-aerosp...,Hotel billionaire Robert Bigelow is dedicating...,Hotel billionaire Robert Bigelow is working on...
5215,https://www.bbc.co.uk/programmes/w172wy0hnn86sjh,The latest five minute news bulletin from BBC ...,"The latest episode of the BBC's ""The Food Chai..."
5216,https://www.irishtimes.com/sport/gaelic-games/...,"Enda Smith, Brian Hurley, Mickey Quinn and Cia...",Enda Smith was one of the driving forces behin...
5217,https://www.nytimes.com/2019/09/12/arts/televi...,"Bowen Yang, a staff writer for “Saturday Night...",Bowen Yang is the first Asian-American writer ...

In [54]:
fulldata = data1.append([data4, data2, data3])
fulldata

,url,description,gpt3_description
Unnamed: 0,,,
0,https://www.reuters.com/article/us-tesla-crash...,The National Transportation Safety Board said ...,The National Transportation Safety Board (NTSB...
1,https://www.irishtimes.com/business/economy/un...,Latest monthly figures reflect continued growt...,Latest monthly figures from the Central Statis...
2,https://www.irishtimes.com/\t\t\t\t\t\t\t/life...,Autumn-winter collection features designer’s g...,The Autumn-winter 2019 collection by Louise Ke...
3,https://www.aljazeera.com/news/2019/09/north-k...,Han is the first North Korean player in the Se...,Han is a North Korean footballer who has recen...
4,https://www.bbc.co.uk/news/av/uk-scotland-4956...,"The UK government's lawyer, David Johnston arg...",The UK government's lawyer has said that proro...
...,...,...,...
10432,https://abcnews.go.com/Business/wireStory/drop...,"Get breaking national and world news, broadcas...",Get breaking news on the drop in U.S. service ...
10433,https://www.reuters.com/article/us-credit-suis...,The announcement by Julius Baer this week that...,The announcement that Credit Suisse Group AG h...
10434,https://www.cnn.com/2019/10/03/us/five-year-ol...,Weston Newswanger is just a normal 5-year-old ...,Weston Newswanger is a five-year-old boy from ...
10435,https://www.cbsnews.com/video/fateful-connecti...,A detective is haunted by the case of two wome...,A detective in Florida was investigating a cas...
10436,https://www.cbsnews.com/video/love-hate-obsess...,Who wanted one-time millionaire Lanny Horwitz ...,Who wanted to be a writer? It was the only thi...